# Markdown
# https://github.com/estefanionsantos/snippets/blob/master/markdown.snippets

#
snippet link
	[${1:linkname}](${2:https://example.com})
#
snippet linkimage
	[![${1:alt-image}](${2:https://fakeimg.pl/100x100} "${3:title-image}")](${4:https://example.com})
#
snippet image
	![${1:alt}](${2:https://fakeimg.pl/100x100} "${3:title-image}")
#
snippet table
	col | col | col
	:-- | :-- | :--
	row | row | row
#
#  EOF
